.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categorias_cards {
  color: var(--text-secondary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.categorias_cards h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}

.categorias_cards a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  /*Fazer uma pequena animação para desktop*/
  .categorias_cards:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}