/*Variaveis das Cores*/
:root {
  --background-primary-color: #ffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primery-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*Fonts*/
@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/*Reset Configuration*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat";
}

