.hero-img{
    height: 400px;
    width: 100%;
    background-image: url(../img/imagem-barco-bonita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        background-image: url(../img/foto-bonita-tablet.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1024px){
    .hero-img{
        background-image: url(../img/foto-bonita-desktop.jpg);
    }
}