.nav-destino {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.Logo-destino {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-mobile-destino {
  display: block;
}

.logo-desktop-destino {
  display: none;
}

.navigation-menu-destino {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links-destino {
  list-style: none;
}

.list-links-destino li {
  margin: 16px 0;
}

.list-links-destino li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu-destino {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu-destino label {
    display: none;
  }

  .navigation-menu-destino nav {
    display: block;
  }

  .navigation-menu-destino ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-destino .Logo-destino{
    padding-top: 37px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-destino {
    padding: 38px 120px;
  }

  .logo-desktop-destino {
    display: block;
  }
  .logo-mobile-destino {
    display: none;
  }
  .list-links-destino li a {
    font-size: 20px;
  }
  .navigation-menu-destino {
    width: 392px;
  }

  .navigation-menu-destino a:hover {
    color: var(--primery-color);
    text-decoration: underline;
  }
}
